<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openFilterModal()">
        <ion-icon name="funnel-outline"></ion-icon> Filtrar
      </ion-button>
    </ion-buttons>

    <ion-title class="center-title">HydraTech</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon> Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-container">
    <img src="assets/icon/HydraTech_LOGO.png" alt="Logo Hydratech" />
  </div>

  <ion-card>
    <ion-card-content>
      <div class="sensor-data">
        <ion-icon name="water-outline"></ion-icon> Umidade do solo:
        <span>-</span>
      </div>
      <div class="sensor-data">
        <ion-icon name="cloud-outline"></ion-icon> Umidade do ar:
        <span>-</span>
      </div>
      <div class="sensor-data">
        <ion-icon name="thermometer-outline"></ion-icon> Temperatura:
        <span>-</span>
      </div>
      <div class="sensor-data">
        <ion-icon name="sunny-outline"></ion-icon> Luminosidade:
        <span>-</span>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="config-title">
        <ion-icon name="settings-outline"></ion-icon> Configuração
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="config-item">
        <strong>Horários de irrigação:</strong>
        <ul>
          <li>05:00</li>
          <li>09:30</li>
          <li>17:30</li>
        </ul>
      </div>
      <div class="config-item">
        <strong>Duração:</strong>
        <ul>
          <li>04:30s</li>
          <li>01:00s</li>
          <li>03:20s</li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
